@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
body {
  background-color: #004A99;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

/*------------------------------------------------------------------------
                            SECCIÓN header
-------------------------------------------------------------------------*/
nav ul li {
  list-style-type: none;
}

/*------------------------------------------------------------------------
                            SECCIÓN WHY CHOOSE US
-------------------------------------------------------------------------*/
.whyUs {
  background-color: #004A99;
  color: #fff;
  text-align: center;
  padding-top: 25px;
}

.whyUs h3 {
  font-size: 36px;
  font-weight: 500;
}

.whyUs .top {
  font-size: 15px;
  padding-left: 30%;
  padding-right: 30%;
}

.whyUs section {
  padding: 35px 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.whyUs section .card {
  width: 300px;
  height: 280px;
  border-radius: 5%;
  background-color: #00458f;
  margin-left: 5px;
  margin-right: 5px;
  padding: 35px 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.whyUs section .card i {
  color: #BFDDFE;
  font-size: 48px;
}

.whyUs section .card .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.whyUs section .card .body h5 {
  font-size: 22px;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.whyUs section .card .body p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: #BFDDFE;
  margin-bottom: 1em;
}

.whyUs section .card .body #readmore {
  display: block;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  line-height: 35px;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-decoration: none;
}

.whyUs .card:hover {
  background-color: #003B7A;
}

.whyUs .card:hover #readmore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-bottom: 2px solid #004A99;
}

.whyUs .numbers {
  padding: 35px 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.whyUs .numbers .stats {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.whyUs .numbers .stats .title {
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  margin: 0;
}

.whyUs .numbers .stats .element {
  font-size: 15px;
  color: #BFDDFE;
  margin: 0;
}

/*------------------------------------------------------------------------
                            SECCIÓN TEAM
-------------------------------------------------------------------------*/
.team {
  background-color: #fff;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.team h3 {
  font-size: 36px;
  font-weight: 500;
}

.team .top {
  font-size: 15px;
  padding-left: 30%;
  padding-right: 30%;
}

.team section {
  padding: 35px 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.team section .image1,
.team section .image2,
.team section .image3,
.team section .image4 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
}

.team section .image1 {
  background-image: url("img/team-01.jpg");
}

.team section .image2 {
  background-image: url("img/team-02.jpg");
}

.team section .image3 {
  background-image: url("img/team-03.jpg");
}

.team section .image4 {
  background-image: url("img/team-04.jpg");
}

.team section .overlay {
  height: 100%;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 94, 173, 0.616)), to(rgba(15, 94, 173, 0.616)));
  background-image: linear-gradient(rgba(15, 94, 173, 0.616), rgba(15, 94, 173, 0.616));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.5s, opacity 0.5s linear;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.team section .overlay .info {
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.team section .overlay .info h4 {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.team section .overlay .info p {
  padding-top: 0;
  margin-top: 0;
  font-style: italic;
  font-size: 15px;
}

.team section .overlay .info .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.team section .overlay .info .icon-container .icon {
  width: 15px;
  height: 15px;
  padding-left: 8px;
  padding-right: 8px;
}

.team section .overlay .info .icon-container .icon a:hover {
  color: #0062CC;
}

.team section .overlay .info .icon-container a:link {
  text-decoration: none;
  color: #fff;
}

.team section .overlay .info .icon-container a:visited {
  text-decoration: none;
  color: #fff;
}

.team .image1:hover .overlay,
.team .image2:hover .overlay,
.team .image3:hover .overlay,
.team .image4:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.team .image1:hover .overlay .info,
.team .image2:hover .overlay .info,
.team .image3:hover .overlay .info,
.team .image4:hover .overlay .info {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/*------------------------------------------------------------------------
                            SECCIÓN OUR CLIENTS
-------------------------------------------------------------------------*/
.our-clients {
  background-color: #BFDDFE;
  padding-top: 0;
}

.titulo-clientes {
  color: #283d50;
  font-size: 38 px;
  text-align: center;
  font-weight: 500px;
  position: relative;
}

/*------------------------------------------------------------------------
                            SECCIÓN Contact us
-------------------------------------------------------------------------*/
#contact {
  background-color: #fff;
}

.contactus {
  background-color: #fff;
  height: 100%;
}

/*------------------------------------------------------------------------
                            SECCIÓN FOOTER
-------------------------------------------------------------------------*/
/* - El div "wayne" deberia empezar un poco mas abajo, en sentido vertical, que los demas. 
Un margin-top o un display: flex, flex-direction: column, justify-content: center, serian posibles soluciones
- Si le quitamos el width de 40% al div de contact us, nos evitamos el problema de que los iconos se achiquen y pierdan la forma
redonda al achicar la pantalla
- El input esta un poco angosto. Yo haria que label fuera flex, y le daria al input type email flex 2, y al input submit flex 1 para que siempre
ocupen el 100% del label y se vean mas anchos. Esto tambien soluciona el problema de que se pongan uno debajo del otro en algunas resoluciones. 
- En resoluciones de entre 600 y 900px, las columnas 1 y 2, y las columnas 3 y 4, se ven muy juntas entre si. Quiza un margin en
la media query pueda ser una solucion sencilla. En esa misma resolucion, hay muy poco aire en la caja en el bottom. Un padding 
haria que se viera mucho mejor. 
- Atencion a los iconos en resoluciones menores a 600px: no deberian ocupar el 100% del ancho, sino quedar ubicados a la izquierda
- El CSS en general esta desordenado: es bueno escribirlo en el mismo orden que el HTML, asi es mas rapido ubicar donde se encuentra
el estilo de un elemento en particular. 
*/
body {
  margin: 0;
}

footer {
  color: white;
  background-color: #004A99;
  height: 300px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 8px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
  margin-left: 10%;
  margin-right: 10%;
}

.parte1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.parte2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

h2 {
  margin-top: 5%;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.columna1 {
  width: 80%;
}

.columna3 {
  width: 40%;
}

.image {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-right: 0%;
}

.icon {
  width: 35px;
  height: 35px;
  background-color: #007BFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}

.icon:hover {
  background-color: #0062CC;
}

.columna4 {
  width: 53%;
  letter-spacing: 0.001em;
}

span {
  font-weight: bold;
}

.copyright {
  background-color: #00428A;
  height: 150px;
}

ul {
  padding: 0;
  list-style-type: none;
  line-height: 2;
}

a:link {
  text-decoration: none;
  color: #fff;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

input {
  border: none;
  padding: 0;
  height: 33px;
}

.submit-button {
  background-color: #007BFF;
  border: none;
  padding: 0;
  height: 33px;
  width: 90px;
  color: #fff;
}

input[type=submit]:hover {
  background-color: #0062CC;
}

.copyright {
  background-color: #00428A;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 15px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (min-width: 601px) and (max-width: 900px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.parte1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columna1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.columna2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.parte2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.columna3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.columna4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.copyright {
  height: 100%;
}

input,
.s {
  height: 33px;
}

@media (max-width: 600px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: smaller;
    height: 100%;
  }
  .parte1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .parte2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .Columna1 {
    width: 100%;
  }
  .Columna2 {
    width: 100%;
  }
  .Columna3 {
    width: 100%;
  }
  .Columna4 {
    width: 100%;
  }
  .copyright {
    font-size: 11px;
    height: 100%;
  }
}

.copyright span {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */