@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    margin-left: 15%;
    margin-right: 10%;
    text-align: left;
}
h3,h4 {
    font-family: 'Montserrat', sans-serif;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative;
}

p {
    font-family: 'Montserrat', sans-serif; 
    color: #283d50; 
    position: relative;
}

h1,.p1{
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%;
        
}  

#texto{
    padding: 0;
    text-align: left;
    color: #444;
    font-family: "Open Sans", sans-serif;
}
a{   transition: 0.5s;
 text-decoration: none;
 background-color: transparent;
}
.container{
    text-align: left;
}
.team{
    float: right;
}

.box{
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #007bff;
}

.p3{
    padding-left: 3%;
}
p{
    padding-left: 10%;
}
.teach{
    vertical-align: middle;
    height: 540px; 
    width: 400px;
    float:left;
}

.design{
    float: right;
}
.service{
    text-align: center;
    padding: 60px 0 40px 0;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    background: #ecf5ff;
}

img{
    background-size: 50%;
    width: 500px;
    right: 400px;
    vertical-align: middle;
}


.p3{
    display: inline-block;
    text-align: left;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}


.icon{
    width: 100px;
  height: 100px;
  display: inline-block;
    position: relative;
margin-left: -950px;
margin-bottom: 500px;
transition: 0.5s;
}

.display{
    display: inline;
}

.container{
    text-align: left;
}
button {
    display: inline-block;
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
}
