@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

$color1: #004A99;
$color2: #fff;
$color3: #00458f;
$color4: #BFDDFE;
$color5: #003B7A;
$color6: rgba(20, 65, 110, 0.01);
$color7: #0062CC;
$color8: #283d50;
$letraPar: 15px;
$letraH3: 36px;
$letraH5: 22px;
$marginSmall: 0.5em;
$marginMedium: 1em;
$fontCard: 'Open Sans',
sans-serif;

body {
    background-color: $color1;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}


/*------------------------------------------------------------------------
                            SECCIÓN header
-------------------------------------------------------------------------*/


nav ul li {
    list-style-type: none;
}



/*------------------------------------------------------------------------
                            SECCIÓN WHY CHOOSE US
-------------------------------------------------------------------------*/
.whyUs {
    background-color: $color1;
    color: $color2;
    text-align: center;
    padding-top: 25px;

    h3 {
        font-size: $letraH3;
        font-weight: 500;
    }

    .top {
        font-size: $letraPar;
        padding-left: 30%;
        padding-right: 30%;
    }

    section {
        padding: 35px 12%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .card {
            width: 300px;
            height: 280px;
            border-radius: 5%;
            background-color: $color3;
            margin-left: 5px;
            margin-right: 5px;
            padding: 35px 25px 15px;
            display: flex;
            flex-direction: column;
            font-family: $fontCard;

            i {
                color: $color4;
                font-size: 48px;
            }

            .body {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h5 {
                    font-size: $letraH5;
                    margin-top: $marginMedium;
                    margin-bottom: $marginSmall;
                }

                p {
                    font-size: $letraPar;
                    font-weight: 400;
                    line-height: 22.5px;
                    color: $color4;
                    margin-bottom: $marginMedium;
                }

                #readmore {
                    display: block;
                    font-weight: 600;
                    font-size: 20px;
                    color: $color2;
                    line-height: 35px;
                    margin-top: $marginMedium;
                    margin-bottom: $marginSmall;
                    text-decoration: none;
                }
            }
        }
    }

    .card:hover {
        background-color: $color5;

        #readmore {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
            border-bottom: 2px solid $color1;
        }
    }

    .numbers {
        padding: 35px 12%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .stats {
            flex: 1;

            .title {
                font-weight: 700;
                font-size: 48px;
                color: $color2;
                margin: 0;
            }

            .element {
                font-size: 15px;
                color: $color4;
                margin: 0;
            }
        }
    }
}





/*------------------------------------------------------------------------
                            SECCIÓN TEAM
-------------------------------------------------------------------------*/

.team {
    background-color: $color2;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

    h3 {
        font-size: $letraH3;
        font-weight: 500;
    }

    .top {
        font-size: $letraPar;
        padding-left: 30%;
        padding-right: 30%;
    }

    section {
        padding: 35px 12%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .image1,
        .image2,
        .image3,
        .image4 {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background-size: cover;
            overflow: hidden;
            z-index: 1;
            font-family: $fontCard;
        }

        .image1 {
            background-image: url("img/team-01.jpg");
        }

        .image2 {
            background-image: url("img/team-02.jpg");
        }

        .image3 {
            background-image: url("img/team-03.jpg");
        }

        .image4 {
            background-image: url("img/team-04.jpg");
        }

        .overlay {
            height: 100%;
            border-radius: 50%;
            background-image: linear-gradient(rgba(15, 94, 173, 0.616), rgba(15, 94, 173, 0.616));
            display: flex;
            z-index: 2;
            justify-content: center;
            align-items: center;
            color: $color2;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.5s, opacity 0.5s linear;

            .info {
                transform: translateY(300px);
                transition: transform 0.5s;

                h4 {
                    padding-top: 0;
                    margin-top: 0;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                p {
                    padding-top: 0;
                    margin-top: 0;
                    font-style: italic;
                    font-size: 15px;
                }

                .icon-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $color2;

                    .icon {
                        width: 15px;
                        height: 15px;
                        padding-left: 8px;
                        padding-right: 8px;
                    }

                    .icon a:hover {
                        color: $color7;
                    }

                    a:link {
                        text-decoration: none;
                        color: $color2;
                    }

                    a:visited {
                        text-decoration: none;
                        color: $color2;
                    }
                }
            }
        }
    }

    .image1:hover .overlay,
    .image2:hover .overlay,
    .image3:hover .overlay,
    .image4:hover .overlay {
        visibility: visible;
        opacity: 1;

        .info {
            transform: translateX(0);
        }
    }
}


/*------------------------------------------------------------------------
                            SECCIÓN OUR CLIENTS
-------------------------------------------------------------------------*/
.our {
    background-color: $color4;
    text-align: center;
    padding-top: 10px;
}

.style-h3 {
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative;
}

p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 30px;
    color: #556877;
    width: 50%;
}

.clientslog {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color2;
    border-right: 1px solid #d6eaff;
    border-bottom: 1px solid #d6eaff;
    overflow: hidden;
    height: 160px;
}

.logo-cliente {
    height: 130px;
}

img {
    vertical-align: middle;
    border-style: none;
}

/*------------------------------------------------------------------------
                            SECCIÓN Contact us
-------------------------------------------------------------------------*/
#contacto {
    background-color: #fff;
    text-align: center;
    padding-top: 25px;
}

.contact {
    background-color: #fff;
    background-color: $color2;
    text-align: center;
    display: flex;
    align-items: center;
}



