@mixin partesFooter {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

@mixin footerMedia {
  display: flex;
  flex: 1;
}

@mixin h3Style {
  font-size: $letraH3;
  font-weight: 600;
}

@mixin displayFlex1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin displayFlex2 {
  display: flex;
  justify-content: space-between;
}

@mixin displayFlex3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin displayFlex4 {
  display: flex;
  flex-direction: column;
}

@mixin marginH3 {
  margin-top: $marginSmallerer;
  margin-bottom: $marginSmallerer;
}

@mixin paddingTopParagraph {
  padding-left: $padding6;
  padding-right: $padding6;
}

@mixin paddingMedium {
  padding-left: $marginMM;
  padding-right: $marginMM;
}

@mixin padding2 {
  padding-top: $padding2;
  padding-bottom: $padding2;
}