$color1: #004A99;
$color2: #fff;
$color3: #00458f;
$color4: #BFDDFE;
$color5: #003B7A;
$color6: rgba(20, 65, 110, 0.01);
$color7: #0062CC;
$color8: #283d50;
$color-azul:#004289;
$color-azul-hover:#007BFF;
$color9: rgba(138, 136, 136, 0.685);
$color10: rgba(46, 45, 45, 0.925); 
$letraPar: 15px;
$letraParch: 10px;
$letraH3: 36px;
$letraH5: 22px;
$letramed: 20px;
$letragr: 48px;
$marginMM: 1.4em;
$marginMedium: 1em;
$marginSmall: 0.5em;
$marginSmaller: 0.2em;
$marginSmallerer: 0.1em;
$padding1: 20px;
$padding2: 25px;
$padding3: 30%;
$padding4: 35px;
$padding5: 15px;
$padding6: 25%;
$fontCard: 'Open Sans', sans-serif;
$fontFooter: 'Montserrat', sans-serif;