@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

/*------------------------------------------------------------------------
                            SECCIÓN header
-------------------------------------------------------------------------*/
.header {
  color: #004289;
  background-color: #fff;
  height: 80px;
  font-weight: 200;
}

.header .menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /*Flex a los elementos li, para que se ubiquen uno al lado del otro y sean flexibles. Pero tambien le tengo que decir display flex a mi nav , para que la img que está conenida por nav se alinea tambien junto con las listas*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu li {
  padding: 20px;
  /* No aplico un font-weight porque 
            la medida estandar utilizada es de 500, la cual se 
            le aplica por defecto */
  /*a:visited {
                    color: $color-azul; 
                    /*REVISAR ESTO PORQUE NO SE APLICA EL HOVER Y EL VISITED
                }*/
}

.header .menu li a {
  text-decoration: none;
}

.header .menu li a:hover {
  color: #007BFF;
}

.header .menu a:visited {
  color: #004289;
}

/*tampoco le doy display:flex al header porque no me ubica en flex a los elementos a contenidos en li. por lo tanto tengo que asignar el display li a la class"menu" la cual contiene a mis elementos li a{*/
nav {
  /*Flex*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 7px;
  /*Le doy display flex a mi nav para que img pueda ser ubicado al lado de los li*/
}

nav img {
  height: 26px;
  width: 67px;
  padding: 20px;
}

/*------------------------------------------------------------------------
                            SECCIÓN WHY CHOOSE US
-------------------------------------------------------------------------*/
.whyUs {
  background-color: #004A99;
  color: #fff;
  text-align: center;
  padding-top: 25px;
}

.whyUs h3 {
  font-size: 36px;
  font-weight: 600;
}

.whyUs .top {
  font-size: 15px;
  padding-left: 30%;
  padding-right: 30%;
}

.whyUs .card-container {
  padding: 35px 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.whyUs .card-container .card {
  width: 300px;
  height: 280px;
  border-radius: 5%;
  background-color: #00458f;
  margin-left: 5px;
  margin-right: 5px;
  padding: 35px 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.whyUs .card-container .card i {
  color: #ECF5FF;
  font-size: 48px;
}

.whyUs .card-container .card .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.whyUs .card-container .card .body h5 {
  font-size: 22px;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.whyUs .card-container .card .body p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: #ECF5FF;
  margin-bottom: 1em;
}

.whyUs .card-container .card .body #readmore {
  display: block;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  line-height: 35px;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-decoration: none;
}

.whyUs .card:hover {
  background-color: #003B7A;
}

.whyUs .card:hover #readmore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-bottom: 2px solid #004A99;
}

.whyUs .card:hover #readmore:hover {
  border-bottom: 2px solid #fff;
}

.whyUs .numbers {
  padding: 35px 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.whyUs .numbers .stats {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.whyUs .numbers .stats .title {
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  margin: 0;
}

.whyUs .numbers .stats .element {
  font-size: 15px;
  color: #ECF5FF;
  margin: 0;
}

/*------------------------------------------------------------------------
                            SECCIÓN TESTIMONIALS
-------------------------------------------------------------------------*/
.testimonials {
  background-color: #ECF5FF;
  text-align: center;
  height: 450px;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-shadow: 0 0 20px 0 rgba(194, 232, 247, 0.767) inset;
          box-shadow: 0 0 20px 0 rgba(194, 232, 247, 0.767) inset;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.testimonials input {
  display: none;
}

.testimonials h3 {
  font-size: 36px;
  font-weight: 600;
  color: #283D50;
  margin-bottom: 0.1em;
}

.testimonials .slide-img {
  position: absolute;
  left: 15%;
  z-index: -1;
}

.testimonials #nav-dots {
  width: 100%;
  height: 80px;
  top: 400px;
  left: 0px;
  position: absolute;
  display: inline-block;
  text-align: center;
  z-index: 99;
  cursor: default;
}

.testimonials #nav-dots .dots {
  width: 25px;
  height: 25px;
  margin: 0 3px;
  background-color: rgba(138, 136, 136, 0.685);
  border-radius: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.testimonials #i1:checked ~ #one,
.testimonials #i2:checked ~ #two,
.testimonials #i3:checked ~ #three,
.testimonials #i4:checked ~ #four,
.testimonials #i5:checked ~ #five {
  display: block;
  z-index: 99;
}

.testimonials #i1:checked ~ #nav-dots #dot1,
.testimonials #i2:checked ~ #nav-dots #dot2,
.testimonials #i3:checked ~ #nav-dots #dot3,
.testimonials #i4:checked ~ #nav-dots #dot4,
.testimonials #i5:checked ~ #nav-dots #dot5 {
  background-color: #007BFF;
}

/*------------------------------------------------------------------------
                            SECCIÓN TEAM
-------------------------------------------------------------------------*/
.team {
  background-color: #fff;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.team h3 {
  font-size: 36px;
  font-weight: 600;
  color: #283D50;
}

.team .top {
  font-size: 15px;
  padding-left: 30%;
  padding-right: 30%;
}

.team .team-section {
  padding: 35px 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.team .team-section .image1,
.team .team-section .image2,
.team .team-section .image3,
.team .team-section .image4 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
}

.team .team-section .image1 {
  background-image: url("../img/team-01.jpg");
}

.team .team-section .image2 {
  background-image: url("../img/team-02.jpg");
}

.team .team-section .image3 {
  background-image: url("../img/team-03.jpg");
}

.team .team-section .image4 {
  background-image: url("../img/team-04.jpg");
}

.team .team-section .overlay {
  height: 100%;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 94, 173, 0.616)), to(rgba(15, 94, 173, 0.616)));
  background-image: linear-gradient(rgba(15, 94, 173, 0.616), rgba(15, 94, 173, 0.616));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.5s, opacity 0.5s linear;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.team .team-section .overlay .info {
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.team .team-section .overlay .info h4 {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.team .team-section .overlay .info p {
  padding-top: 0;
  margin-top: 0;
  font-style: italic;
  font-size: 15px;
}

.team .team-section .overlay .info .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.team .team-section .overlay .info .icon-container .icon {
  width: 15px;
  height: 15px;
  padding-left: 8px;
  padding-right: 8px;
}

.team .team-section .overlay .info .icon-container .icon a:hover {
  color: #0062CC;
}

.team .team-section .overlay .info .icon-container a:link {
  text-decoration: none;
  color: #fff;
}

.team .team-section .overlay .info .icon-container a:visited {
  text-decoration: none;
  color: #fff;
}

.team .image1:hover .overlay,
.team .image2:hover .overlay,
.team .image3:hover .overlay,
.team .image4:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.team .image1:hover .overlay .info,
.team .image2:hover .overlay .info,
.team .image3:hover .overlay .info,
.team .image4:hover .overlay .info {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/*------------------------------------------------------------------------
                            SECCIÓN OUR CLIENTS
-------------------------------------------------------------------------*/
.our {
  background-color: #ECF5FF;
  text-align: center;
  padding-top: 10px;
  -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.style-h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 800;
  position: relative;
}

.pclients {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 30px;
  color: #556877;
  width: 50%;
}

.clientslog {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.clientslog .logo-cliente {
  padding: 45px;
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
  border: 1px solid #d6eaff;
  background: #fff;
  /*.logo-cliente :hover {
            max-width: 120%;
            background-color: red;
        }*/
}

.clientslog .logo-cliente img {
  max-width: 100%;
  max-height: 48px;
  /*transition: all 0.4s ease-in-out;*/
}

/*------------------------------------------------------------------------
                            SECCIÓN Contact us
-------------------------------------------------------------------------*/
#contact {
  background-color: #fff;
  overflow: hidden;
  padding: 40px 0;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#contact .contact-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#contact .contact-body > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#contact .formulario {
  display: inline-block;
}

#contact .info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 15px;
}

#contact .info-row1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 15px;
  margin-left: 15px;
}

#contact .info-row1 i {
  font-size: 32px;
  color: #007bff;
  float: left;
  line-height: 1;
}

#contact .pcontact {
  font-size: 14px;
  color: #888;
  margin: auto;
  width: 100%;
  padding: 0 0 10px 36px;
}

#contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact .name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 12px;
  margin-right: 12px;
}

#contact input[type=text], #contact textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
}

#contact .form button[type="submit"] {
  background: #007bff;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#contact .form button[type="submit"]:hover {
  background: #0067d5;
  cursor: pointer;
}

/*------------------------------------------------------------------------
                            SECCIÓN FOOTER
-------------------------------------------------------------------------*/
footer {
  color: #fff;
  width: 100%;
  background-color: #004A99;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 3% 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .parte1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .parte1 .columna1 {
  width: 70%;
  padding: 10px;
}

footer .parte1 .columna1 h2 {
  margin-top: 5%;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 0;
}

footer .parte1 .columna2 {
  width: 30%;
}

footer .parte1 .columna2 ul {
  padding: 0;
  list-style-type: none;
  line-height: 2;
}

footer .parte1 .columna2 ul a:visited {
  text-decoration: none;
  color: #fff;
}

footer .parte1 .columna2 ul a:link {
  text-decoration: none;
  color: #fff;
}

footer .parte2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .parte2 .columna3 {
  width: 40%;
}

footer .parte2 .columna3 span {
  font-weight: bold;
}

footer .parte2 .columna3 .image {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-right: 0%;
}

footer .parte2 .columna3 .image .icon {
  width: 35px;
  height: 35px;
  background-color: #007BFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}

footer .parte2 .columna3 .image .icon:hover {
  background-color: #0062CC;
}

footer .parte2 .columna4 {
  width: 53%;
  letter-spacing: 0.001em;
}

footer .parte2 .columna4 input {
  border: none;
  padding: 0;
  height: 33px;
}

footer .parte2 .columna4 input[type=submit]:hover {
  background-color: #0062CC;
}

footer .parte2 .columna4 .submit-button {
  background-color: #007BFF;
  border: none;
  padding: 0;
  height: 33px;
  width: 90px;
  color: #fff;
}

.copyright {
  background-color: #00428A;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 15px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*------------------------------------------------------------------------
                            SECCIÓN RESPONSIVE
-------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
                            MEDIA QUERY FOR WHY CHOOSE US
-------------------------------------------------------------------------*/
@media (max-width: 800px) {
  .whyUs {
    padding-left: 2%;
    padding-right: 2%;
  }
  .whyUs h3 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 0;
  }
  .whyUs .top {
    font-size: 15px;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
  }
  .whyUs .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .whyUs .card-container .card {
    width: 90%;
    height: 100%;
    border-radius: 3%;
    margin: 15px;
    padding: 35px 35px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Open Sans", sans-serif;
  }
  .whyUs .card-container .card .body {
    padding: 0.2em 0.1em 0.1em 0.5em;
    margin: 1em;
  }
  .whyUs .card-container .card .body h5 {
    font-size: 22px;
    margin-top: 0.5em;
    margin-bottom: 0;
  }
  .whyUs .card-container .card .body p {
    font-size: 15px;
    font-weight: 400;
    color: #ECF5FF;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .whyUs .card-container .card .body #readmore {
    display: block;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    margin-top: 0.1em;
    margin-bottom: 0;
    text-decoration: none;
  }
  .whyUs .card:hover #readmore {
    width: 25%;
  }
}

@media (max-width: 600px) {
  .whyUs .card-container .card:hover #readmore {
    width: 35%;
  }
}

@media (max-width: 800px) {
  .whyUs .numbers {
    padding: 35px 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .whyUs .numbers #arriba {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .whyUs .numbers #abajo {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .whyUs .numbers .stats .title {
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    margin: 0;
  }
  .whyUs .numbers .stats .element {
    font-size: 15px;
    color: #ECF5FF;
    margin: 0;
  }
}

/*------------------------------------------------------------------------
                            MEDIA QUERY TABLET FOR TEAM
-------------------------------------------------------------------------*/
@media (min-width: 801px) and (max-width: 1024px) {
  .team {
    padding-bottom: 0.1em;
  }
  .team h3 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }
  .team .top {
    padding-left: 25%;
    padding-right: 25%;
  }
  .team .team-section {
    padding-left: 1.4em;
    padding-right: 1.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .team .image1,
  .team .image2,
  .team .image3,
  .team .image4 {
    height: 200px;
    height: 200px;
    padding: 0.1em;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .team {
    padding-bottom: 0.1em;
  }
  .team h3 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }
  .team .top {
    padding-left: 25%;
    padding-right: 25%;
  }
  .team .team-section {
    padding-left: 1.4em;
    padding-right: 1.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team .team-section #sup {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    margin-bottom: 1em;
  }
  .team .team-section #bottom {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .team .team-section .image1,
  .team .team-section .image2,
  .team .team-section .image3,
  .team .team-section .image4 {
    height: 315px;
  }
}

/*------------------------------------------------------------------------
                            MEDIA QUERY CEL FOR TEAM
-------------------------------------------------------------------------*/
@media (max-width: 600px) {
  .team {
    padding-bottom: 0.1em;
  }
  .team h3 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }
  .team .top {
    padding-left: 25%;
    padding-right: 25%;
  }
  .team .team-section {
    padding-left: 0.1em;
    padding-right: 0.1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team .team-section .image1,
  .team .team-section .image2,
  .team .team-section .image3,
  .team .team-section .image4 {
    width: 400px;
    height: 400px;
    margin-bottom: 0.5em;
  }
}

/*------------------------------------------------------------------------
                            MEDIA QUERY CEL FOR TESTIMONIALS //
                            SOLO SE VE LA PRIMERA CARD
-------------------------------------------------------------------------*/
@media (max-width: 600px) {
  .testimonials {
    background-color: #ECF5FF;
    text-align: center;
    height: 450px;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-box-shadow: 0 0 20px 0 rgba(194, 232, 247, 0.767) inset;
            box-shadow: 0 0 20px 0 rgba(194, 232, 247, 0.767) inset;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .testimonials input {
    display: none;
  }
  .testimonials h3 {
    font-size: 36px;
    font-weight: 600;
    color: #283D50;
    margin-bottom: 0.1em;
  }
  .testimonials .slide-img {
    width: 500px;
    height: 120px;
    text-align: center;
    position: absolute;
    margin-left: -90px;
    z-index: -1;
    background-image: url("../img/testimonial-card-1_cel.png");
    background-size: cover;
  }
  .testimonials .slide-img img {
    display: none;
  }
  .testimonials #nav-dots {
    width: 100%;
    height: 80px;
    top: 400px;
    left: 0px;
    position: absolute;
    display: inline-block;
    text-align: center;
    z-index: 99;
    cursor: default;
  }
  .testimonials #nav-dots .dots {
    width: 25px;
    height: 25px;
    margin: 0 3px;
    background-color: rgba(138, 136, 136, 0.685);
    border-radius: 100%;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .testimonials #i1:checked ~ #one,
  .testimonials #i2:checked ~ #two,
  .testimonials #i3:checked ~ #three,
  .testimonials #i4:checked ~ #four,
  .testimonials #i5:checked ~ #five {
    display: block;
    z-index: 99;
  }
  .testimonials #i1:checked ~ #nav-dots #dot1,
  .testimonials #i2:checked ~ #nav-dots #dot2,
  .testimonials #i3:checked ~ #nav-dots #dot3,
  .testimonials #i4:checked ~ #nav-dots #dot4,
  .testimonials #i5:checked ~ #nav-dots #dot5 {
    background-color: #007BFF;
  }
}

/*------------------------------------------------------------------------
                            MEDIA QUERY TABLET FOR TESTIMONIALS //
                            SOLO SE VE LA PRIMERA CARD
-------------------------------------------------------------------------*/
@media (min-width: 601px) and (max-width: 800px) {
  .testimonials {
    background-color: #ECF5FF;
    text-align: center;
    height: 450px;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-box-shadow: 0 0 20px 0 rgba(194, 232, 247, 0.767) inset;
            box-shadow: 0 0 20px 0 rgba(194, 232, 247, 0.767) inset;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .testimonials input {
    display: none;
  }
  .testimonials h3 {
    font-size: 36px;
    font-weight: 600;
    color: #283D50;
    margin-bottom: 0.1em;
  }
  .testimonials .slide-img {
    width: 650px;
    height: 160px;
    text-align: center;
    position: absolute;
    margin-left: -90px;
    z-index: -1;
    background-image: url("../img/testimonial-card-1_tablet.png");
    background-size: cover;
  }
  .testimonials .slide-img img {
    display: none;
  }
  .testimonials #nav-dots {
    width: 100%;
    height: 80px;
    top: 400px;
    left: 0px;
    position: absolute;
    display: inline-block;
    text-align: center;
    z-index: 99;
    cursor: default;
  }
  .testimonials #nav-dots .dots {
    width: 25px;
    height: 25px;
    margin: 0 3px;
    background-color: rgba(138, 136, 136, 0.685);
    border-radius: 100%;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .testimonials #i1:checked ~ #one,
  .testimonials #i2:checked ~ #two,
  .testimonials #i3:checked ~ #three,
  .testimonials #i4:checked ~ #four,
  .testimonials #i5:checked ~ #five {
    display: block;
    z-index: 99;
  }
  .testimonials #i1:checked ~ #nav-dots #dot1,
  .testimonials #i2:checked ~ #nav-dots #dot2,
  .testimonials #i3:checked ~ #nav-dots #dot3,
  .testimonials #i4:checked ~ #nav-dots #dot4,
  .testimonials #i5:checked ~ #nav-dots #dot5 {
    background-color: #007BFF;
  }
}

/*------------------------------------------------------------------------
                            MEDIA QUERY TABLET FOR FOOTER
-------------------------------------------------------------------------*/
@media (min-width: 601px) and (max-width: 800px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  footer .parte1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer .parte1 .columna1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer .parte1 .columna2 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer .parte2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer .parte2 .columna3 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer .parte2 .columna4 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer .parte2 .columna4 input,
  footer .parte2 .columna4 .submit-button {
    height: 33px;
  }
  .copyright {
    height: 100%;
  }
}

/*------------------------------------------------------------------------
                            MEDIA QUERY CEL FOR FOOTER
-------------------------------------------------------------------------*/
@media (max-width: 600px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: smaller;
    height: 100%;
  }
  footer .parte1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .parte1 .columna1 {
    width: 100%;
  }
  footer .parte1 .columna2 {
    width: 100%;
  }
  footer .parte2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .parte2 .columna3 {
    width: 100%;
  }
  footer .parte2 .columna4 {
    width: 100%;
  }
  .copyright {
    font-size: 11px;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */